<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/hero-slider.css">
        <link rel="stylesheet" href="css/templatemo-main.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <link rel="stylesheet" href="css/owl-carousel.css">
        <link rel="stylesheet" href="css/vrgallery.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <title>{% block title %}GetAwayZone - Exit Room Escape Room Games Tallinn{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <div class="fixed-side-navbar">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#home"><span>Intro</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#escape"><span>Escape Games</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#events"><span>Parties & Events</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#vrgames"><span>Virtual Reality Games</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#contact-us"><span>Contact Us</span></a></li>
        </ul>
    </div>

    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="left-text">
                <img src="img/getaway-stamp-red-white.png" width="320px" alt="">

                <span></span> <em></em></span>
                <span>
                <p>
                    <em>GetAway Zone</em> presents a unique and interactive live-action adventure game. You, the players, become active participants in our stories and must work as a team to solve intriguing problems, escape from precarious situations, and unravel the plot before time runs out!
                    Our unique “Real Life Adventure”, located in Tallinn's Old Town is designed in order to give you an immersive and fun experience. You and your friends will have a chance to use intelligence, intuition, logic and teamwork skills to solve challenging “Room Escape” puzzles.
                    Our “Escape Game” relies heavily on communication and teamwork. Every member of the team will have to play his own part: logic, intuition, perception and even dexterity. But only truly close-knit teams will be able to escape.
                    The game does not require the knowledge of any specific language. Introduction and clues/hints are given in English, Estonian and Russian languages.

                </p>

                    <p>
                    Gather the clues, crack the code, and solve the riddle to Breakout before time runs out! Our “Escape Room” provides a fun, unique and immersive “Real Life Game” experience for friends, families, couples, groups, teams and coworkers.
                    </p><p>
                        Book your “Exit Game” experience today for bachelor parties, team building, birthday celebrations, corporate events and new adventures in a family-friendly environment!
                    </p>

                </span>

                <!--
                <div class="primary-button">
                    <a href="#services">Discover More</a>
                </div>
                -->

            </div>
        </div>
    </div>

    <div class="redalert-content" id="escape">
        <div class="container">
            <div class="row">

                <section class="tm-slideshow-section">
                    <div class="tm-slideshow">
                        <img src="img/redalert.jpg" alt="Image">
                    </div>
                    <div class="tm-slideshow-description tm-bg-redalert">
                        <h2 class=""><em>Red Alert</em></h2>
                        <p>Estonia. Nowadays. You and your friends are members of a team of highly trained Western agents. Your mission is to break into the secret underground headquarters and successfully escape with the folder which contain classified information. You only have 61 minutes before the Base Commander, a KGB officer, gets back to his office.

                            Our double agent successfully helped you to enter into the base and access the restricted area. You must break inside the inner office, locate the folder which contain classified information and escape outside the restricted area so you can rejoin the double agent, who will then safely escort you outside the KGB premises...

                            Enroll for this dangerous mission so to receive the final instructions in your email…</p>
                        <div class="primary-button">
                            <a href="#services">Book Now</a>
                        </div>
                    </div>
                </section>

                <section class="clearfix tm-slideshow-section tm-slideshow-section-reverse">

                    <div class="tm-right tm-slideshow tm-slideshow-highlight">
                        <img src="img/theconjuring.jpg" alt="Image">
                    </div>

                    <div class="tm-slideshow-description tm-slideshow-description-left tm-bg-events">
                        <h2 class=""><em>The Conjuring</em></h2>
                        <p>
                            You are an investigative team from Vatican, here to look into reported supernatural activity. Upon entering the premises, you have disturbed a dormant poltergeist, who has closed down the building.

                            According to psychometric readings the poltergeist is getting increasingly riled. You only have one hour before it evolves into a full-blown aetheric storm and destroys the location and you with it. You need to solve the sinister mystery and help the poltergeist find peace in the afterlife to be able to escape alive.
                        </p>

                        <div class="primary-button">
                            <a href="#services">Book Now</a>
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </div>


    <div class="events-content" id="events">
        <div class="container">
            <div class="row">
                <h1><em>Parties & Events</em></h1>
                <div class="col-md-12">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/001_0882.jpg" data-lightbox="image-1"><img src="img/001_0882.jpg" alt=""></a>

                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/001_5786.jpg" data-lightbox="image-1"><img src="img/001_5786.jpg" alt=""></a>

                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/001_9132-1.jpg" data-lightbox="image-1"><img src="img/001_9132-1.jpg" alt=""></a>

                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/001_9134-1.jpg" data-lightbox="image-1"><img src="img/001_9134-1.jpg" alt=""></a>

                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/001_9137-1.jpg" data-lightbox="image-1"><img src="img/001_9137-1.jpg" alt=""></a>

                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/001_1486.jpg" data-lightbox="image-1"><img src="img/001_1486.jpg" alt=""></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="events-description">
                    <p>
                        Planning a celebration? We’ve got just the place. Whether you fancy a cocktail soiree for 50, or a more intimate three-course meal, our private function room in Vaike Karja is perfect for any kind of private events.

                        It’s like having your very own pub for the day/night. The warming and cozy furnishings are comfortable and welcoming, but it’s also clean and contemporary, complete with its own bar and dedicated bartender.

                        We can help you throw all types of private parties in Tallinn: Birthday Parties, Office Celebrations, Loft Parties, Anniversary, Bachelor & Hen Parties, Corporate Events, Retirement Parties, Main Bar Specials, Team Building Sessions and many more…

                        No party is too big or too small. Our event planners are ready to help you organize everything: decorations, music, games and entertainment, food and beverage packages.

                        And guess what? Our service is easy, professional, and really affordable!

                        Contact us for a custom quote.
                    </p>
                </div>

            </div>
        </div>
    </div>


    <div class="parallax-content projects-content" id="vrgames">
        <div class="container">
            <div class="vr-row">
                <div class="col">
                    <h1><em>Virtual Reality Games</em></h1>
                    <div class="vr-col">
                        <img width="250" src="../img/vr/s1.jpg">

                        <img width="250" src="../img/vr/s2.jpg">

                        <img width="250" src="../img/vr/s3.jpg">

                        <img width="250" src="../img/vr/s4.jpg">

                        <img width="250" src="../img/vr/s5.png">

                        <img width="250" src="../img/vr/s6.jpg">

                        <img width="250" src="../img/vr/s7.jpg">

                        <img width="250" src="../img/vr/s8.png">
                    </div>
                    <div class="projects-content-desc">
                        <p>
                            If you live or visit Tallinn, and you’re looking for a place to try out virtual reality, then look no further, GetAway Zone is one of the only places in the old town renting out the HTC Vive game set.

                            Virtual reality is already being used in military and medical industries, education, tourism and entertainment. HTC Vive use one of the most cutting-the-edge spatial attitude monitoring systems for 360°. Each slightest head movement is displayed in the virtual space in a wink, ensuring full immersion into the virtual reality.

                            Put on the VR headset and enter the Matrix. Live and experience the games as though you are really there. With the two HTC Vive hand controllers, you can see your hand movements in the virtual world.

                            You can touch objects and they’ll react, pickup an arrow and use a bow to shoot it, or pick up a gun in each hand and start shooting at enemies.

                            You will have unforgettable experiences from the roller-coasters, free fall, diving, nightmares, meeting aliens, flying sensation, etc. All of those virtual attractions will be appealing to EVERYONE regardless of the age. Prove yourself on the state of art game experience!

                            This is the list of the Virtual Reality experiences available for try:
                        </p>

                        <ul>
                            <li>The Lab</li>
                            <li>Raw Data</li>
                            <li>Richie’s Plank Experience</li>
                            <li>Waltz of the Wizard</li>
                            <li>Ultimate Booster Experience</li>
                            <li>Trials on Tatooine</li>
                            <li>Tilt Brush</li>
                            <li>Smell of Death</li>
                            <li>Quanero</li>
                            <li>Keep Talking and NobodyExplodes</li>
                            <li>Google Earth VR</li>
                            <li>Gnomes & Goblins</li>
                            <li>The Bellows</li>
                            <li>Alone?</li>
                        </ul>
                        <h4><em>And many more upon your request</em></h4>
                    </div>
                </div>

            </div>
        </div>
    </div>

<!--
    <div class="tabs-content" id="events">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="wrapper">
                        <section id="first-tab-group" class="tabgroup">
                            <div id="tab1">
                                <img src="img/1st-tab.jpg" alt="">
                                <p>Please do not re-distribute our template ZIP file on your template collection sites. You can make a screenshot and a link back to our website. This template can be used for personal or commercial purposes by end-users.</p>
                            </div>
                            <div id="tab2">
                                <img src="img/2nd-tab.jpg" alt="">
                                <p>Aliquam eu ultrices risus, sed condimentum diam. Duis risus nulla, elementum vitae nisi a, ornare maximus nisl. Morbi et vehicula est. Cras at vulputate justo. Cras eu nulla metus. Ut et pretium velit. Pellentesque at neque tristique dui tempor venenatis.</p>
                            </div>
                            <div id="tab3">
                                <img src="img/3rd-tab.jpg" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia ligula est, at venenatis ex iaculis quis. Morbi sollicitudin nulla eget odio pellentesque, sed cursus diam iaculis.</p>
                            </div>
                            <div id="tab4">
                                <img src="img/4th-tab.jpg" alt="">
                                <p>Duis risus nulla, elementum vitae nisi a, ornare maximus nisl. Morbi et vehicula est. Cras at vulputate justo. Cras eu nulla metus. Ut et pretium velit. Pellentesque at neque tristique.</p>
                            </div>
                        </section>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">2008 - 2014</a></li>
                            <li><a href="#tab2">2014 - 2016</a></li>
                            <li><a href="#tab3">2016 - 2019</a></li>
                            <li><a href="#tab4">2019 - Now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

-->
    <div class=" contact-content" id="contact-us">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
                        <div class="row">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="btn">Send Message</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map">
                        <!-- How to change your own map point
                               1. Go to Google Maps
                               2. Click on your location point
                               3. Click "Share" and choose "Embed map" tab
                               4. Copy only URL and paste it within the src="" field below
                        -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014.4126043051969!2d24.74562239250757!3d59.43598970655563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46929361f927df53%3A0x8ae8c353df877188!2sGetAway%20Zone%20(escape%20room%20exit%20room%20games%20Tallinn)!5e0!3m2!1sen!2suk!4v1578849368495!5m2!1sen!2suk" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#home">Back To Top</a>
                    </div>

                    <div class="row">

                        <div class="col">
                            Contacts:</br>
                            +372 555 09 509 EST</br>
                            +372 555 00 557 RUS/ENG</br>
                            info@getaway.zone</br>

                        </div>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                    <p>Copyright &copy; 2019 GetAway Zone

                        - Webstudio: <a rel="nofollow noopener" href="https://vesarium.com"><em>Vesarium</em></a></p>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>

    <script>
        $(document).ready(function(){
            // Add smooth scrolling to all links
            $(".fixed-side-navbar a, .primary-button a").on('click', function(event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
